<a href="https://colab.research.google.com/github/ADerbak/Udemy_PandasDataScience_130Exercises/blob/main/Exercise_002.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Using pandas, from the list below:



stocks = ['PLW', 'CDR', '11B', 'TEN']


create a Series object and print it to the console.

In [1]:
import pandas as pd

In [2]:
stocks = ['PLW', 'CDR', '11B', 'TEN']

In [3]:
print(pd.Series(stocks))

0    PLW
1    CDR
2    11B
3    TEN
dtype: object