<a href="https://colab.research.google.com/github/ADerbak/Udemy_PandasDataScience_130Exercises/blob/main/Exercise_002.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Using pandas, from the dictionary below:



stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}


create a Series object and assign it to the quotations variable. In response, print quotations variable to the console.



Expected result:



PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64

In [ ]:
import pandas as pd

In [ ]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}

In [ ]:
# print(pd.Series(stocks.values(), stocks.keys()))

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64

In [ ]:
# for k,v in stocks.items():
#   print(k, v)

PLW 387.0
CDR 339.5
TEN 349.5
11B 391.0

In [18]:
# print(pd.Series(stocks))

quotations = pd.Series(stocks)
print(quotations)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64